{% extends "gestion/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'gestion/asignar_miembros.css' %}">
  <h2>Asignar Miembros a una Brigada</h2>

  <form method="post">
    {% csrf_token %}
    <label for="brigada">Seleccione una brigada:</label>
    <select name="brigada_id">
      {% for b in brigadas %}
        <option value="{{ b.id }}">{{ b.nombre }}</option>
      {% endfor %}
    </select><br><br>
  
    <label>Empleados disponibles:</label><br>
    {% for e in empleados %}
      <input type="checkbox" name="miembros" value="{{ e.id }}">
      {{ e.username }} ({{ e.role }})<br>
    {% endfor %}
  
    <button type="submit">Asignar Miembros</button>
  </form> 
{% endblock %}

