{% extends "gestion/base.html" %}
{% block content %}
  <h2>Bienvenido al sistema IFN</h2>
  <p>Tu rol es: <strong id="userRole">Cargando…</strong></p>

  <div id="menuAdmin" class="menu" style="display:none">
    <h3>Menú Administrador</h3>
    <ul>
      <li><a class="btn" href="{% url 'crear_brigada' %}">Crear Brigada</a></li>
      <li><a class="btn" href="{% url 'asignar_miembros' %}">Asignar Miembros</a></li>
      <li><a class="btn" href="{% url 'crear_coordenadas' %}">Crear Coordenadas</a></li>
      <li><a class="btn" href="{% url 'reportes' %}">Ver Reportes</a></li>

    </ul>
  </div>

  <div id="menuJefe" class="menu" style="display:none">
    <h3>Menú Jefe de Brigada</h3>
    <ul>
      <li><a class="btn" href="{% url 'ver_notificaciones' %}">Ver Reportes</a></li>
      <li><a class="btn" href="{% url 'registro_campo' %}">Registro de Datos de Campo</a></li>
    </ul>
  </div>

  <div id="menuTecnico" class="menu" style="display:none">
    <h3>Menú Jefe de Brigada</h3>
    <ul>
      <li><a class="btn" href="{% url 'ver_notificaciones' %}">Ver Reportes</a></li>
      <li><a class="btn" href="{% url 'registro_tecnico' %}">Registro de Datos de Campo</a></li>
    </ul>
  </div>

  <div id="menuBotanico" class="menu" style="display:none">
    <h3>Menú Jefe de Brigada</h3>
    <ul>
      <li><a class="btn" href="{% url 'ver_notificaciones' %}">Ver Reportes</a></li>
      <li><a class="btn" href="{% url 'registro_botanico' %}">Registro de Datos de Campo</a></li>
    </ul>
  </div>
{% endblock %}
